<%= form_with(model: @user, local: true) do |form| %>
  <%= form.label :name %><br>
  <%= form.text_field :name, class: "field_area", size: "70*30" %><br><br>
  <%= form.label :introduce %><br>
  <%= form.text_area :introduce, class: "field_area", size: "70*40" %><br><br>
  <div class="user_image">
    <%= form.label :user_image, "画像" %>
    <%= image_tag(@user.image.thumb.url) if @user.image && @user.image.thumb.url %>
    <%= form.file_field :image, accept: 'image/jpeg,image/gif,image/png', class: "field" %>
    <%= form.hidden_field :image_cache %><br><br>
  </div>
  <%= form.submit '編集', class: 'btn btn-default' %>
  <%= link_to "戻る", user_path(current_user.id), class: 'btn btn-default' %>
<% end %>