<h4>ユーザー登録</h4><br>
<% if @user.errors.any? %>
  <div id="error_explanation">
    <h4><%= pluralize(@user.errors.count, "箇所の下記エラーを") %><%= @user.name %> 訂正してください</h4>
    <ul>
    <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<br><br>
<%= form_with(model: @user, local: true) do |f| %>
  <%= f.label :name %><br>
  <%= f.text_field :name, class: "field_area", size: "50*30" %><br><br>
  <%= f.label :email %><br>
  <%= f.email_field :email, class: "field_area", size: "50*30" %><br><br>
  <%= f.label :password %><br>
  <%= f.password_field :password, class: "field_area", size: "50*30" %><br><br>
  <%= f.label :password_confirmation %><br>
  <%= f.password_field :password_confirmation, class: "field_area", size: "50*30" %><br><br><br>
  <%= f.submit "登録" ,class: 'btn btn-default' %>
<% end %>