<h4><%= @user.name %>さんのページ</h4><br>
<p>メールアドレス: <%= @user.email %></p>
<p>自己紹介: <%= @user.introduce %></p>
<% if @user.image? %>                                                              
  <%= image_tag @user.image.url %>
<% end %>
<br>
<%= link_to "プロフィール編集へ", edit_user_path %><br>
<%= link_to "投稿記事一覧へ", pictures_path %><br>
<%= link_to 'お気に入り一覧へ', favorites_path %>