<!DOCTYPE html>
<html>
  <head>
    <title>PhotoApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <meta name="viewport" content="width=device-width">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <br><br>
    <% flash.each do |key, value| %>
      <%= content_tag(:div, value, class: "#{key}") %>
    <% end %>
    <br>
    <% if logged_in? %>
      <%= link_to "投稿一覧", pictures_path %>
      <%= link_to "プロフィール", user_path(current_user.id) %>
      <%= link_to "ログアウト", session_path(current_user.id), method: :delete %>
      <%= link_to "問い合わせ", new_contact_path %>
    <% else %>
    　<%= link_to "ユーザー登録", new_user_path %>
      <%= link_to "ログイン", new_session_path %>
    <% end %>

    <div class="container">
      <header>
        <h2 class="title">Photo App</h2>
      </header>
      <br><br>

      <main>
      <%= yield %>
      </main>

      <footer>
      </footer>
    </div>
  </body>
</html>